/* Apply styles to the body */

/* Style the navigation bar */
.nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    max-width: 100px;
}

.menu {
    max-width: 30px;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 10px;
}

.button {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

/* Style the API documentation section */
.api-section {
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-family: "Arial", sans-serif; /* Use a modern font of your choice */
}

h2 {
    font-size: 24px;
    font-family: "Arial", sans-serif; /* Use a modern font of your choice */
    color: white;
}

h3 {
    font-size: 20px;
    margin-top: 20px;
    color: white;
    font-family: "Arial", sans-serif; /* Use a modern font of your choice */
}

p {
    font-size: 16px;
    color: white;
    
    margin-bottom: 10px;
}

/* Add any additional styling as needed */
