body{
    padding: 0;
    margin: 0;
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

.nave{
    display: flex;
    justify-content:space-between;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    color: white;
}

.button{
    margin-left: 10%;
    margin-right: 10%;
}