body{
    padding: 0;
    margin: 0;
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
}

.nave{
    display: flex;
    justify-content:space-between;
}

.buttons{
    display: flex;
    justify-content: flex-end;
}

.button{
    margin-left: 3%;
    margin-right: 3%;
    color: white;
}