{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home/api-doc.css' %}"> <!-- Link your new CSS file -->
    <script defer src="{% static 'home/logic.js'%}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>baity</title>
</head>
<body >
    <nav class="nav">
        <img class="logo" src="{% static 'home/logo.png'%}" alt="website logo">
        <img class="menu" src="{% static 'home/menu.png'%}"/>
        
        <div class="buttons">
            <a class="button" href="https://www.baity.uk/">home</a>
            <a class="button" href="https://www.baity.uk/housedocs/">houses API</a>
            <!-- <a class="button" href="">houses api endpoint </a> -->
        </div>
    </nav>

    <!-- API Documentation Section for "owners" Model -->
    <div class="doc-div">
        <h2>API Documentation for owners/Users</h2>

        <!-- Create Owner Endpoint -->
        <h3>Auth Token</h3>
        <p>Get Authentication Token</p>
        <p>HTTP Method: POST</p>
        <p>URL: `/auth/`</p>
        <h3>example</h3>
        <pre>
            <code>
              function get_Token() {
                const payload = new FormData();
                payload.append("username", username);
                payload.append("password", password);
                const ep = "https://www.baity.uk/auth/";
                fetch(ep, {
                  method: "POST",
                  body: payload,
                })
                  .then((Response) => Response.json())
                  .then((data) => handle_response(data));
              }
            </code>
        </pre>
       
        
        <h3>Create Owner</h3>
        <p>Create a new owner.</p>
        <p>HTTP Method: POST</p>
        <p>URL: `owners/create/`</p>
        <h3>example</h3>
        <pre>
            <code>
                const payload = new FormData();
                if (username) {
                  payload.append("username", username.toLowerCase());
                }
                if (email) {
                  payload.append("email", email.toLowerCase());
                }
                payload.append("phone", parseInt(phone));
                payload.append("password", password);
                const ep = "https://www.baity.uk/owners/create/";
                fetch(ep, {
                  method: "POST",
                  body: payload,
                })
                  .then((response) => {
                    status = response.status;
                    return response.json();
                  })
                  .then(handle_data);
            </code>
        </pre>
       
        <!-- Add more details as needed -->

        <!-- Update Username and Phone Endpoint -->
        <h3>Update Username and Phone</h3>
        <p>Update the username and phone number of an owner by ID.</p>
        <p>HTTP Method: PUT</p>
        <p>URL: `owners/update/up/{id}/`</p>
        <h3>example</h3>
        <pre>
            <code>
                function send_up_https_request(token) {
                    const payload = new FormData();
                    payload.append("username", username);
                    payload.append("phone", phone);
                    const up_ep = `https://www.baity.uk/owners/update/up/${id}/`;
                    fetch(up_ep, {
                      method: "PUT",
                      body: payload,
                      headers: {
                        Authorization: `token ${token}`,
                      },
                    })
                      .then((Response) => Response.json())
                      .then((data) => console.log("data update: ", data));}
            </code>
        </pre>
       


        <!-- Update Password Endpoint -->
        <h3>Update Password</h3>
        <p>Update the password of the authenticated owner.</p>
        <p>HTTP Method: PUT</p>
        <p>URL: `owners/update_password/`</p>
        <!-- Add more details as needed -->
        <pre>
            <code>
                fetch("https://www.baity.uk/owners/update_password/", {
                    method: "PUT",
                    body: {password:password},
                    headers: {
                      Authorization: `token ${token}`,
                    },
                  })
                    .then((response) => response.json())
                    .then((data) => {
                      console.log(data);})
            </code>
        </pre>
        <!-- Delete Me Endpoint -->
        <h3>Delete My Account</h3>
        <p>Delete the authenticated owner's account.</p>
        <p>HTTP Method: POST</p>
        <p>URL: `owners/deleteme/`</p>
        <h3>example</h3>
        <pre>
            <code>

                function delete_me() {
                    fetch("https://www.baity.uk/owners/deleteme/", {
                      method: "GET",
                      headers: {
                        Authorization: `token ${user_token}`,
                      },
                    })
                      .then((response) => response.json())
                      .then((data) => console.log(data))
                      .catch((e) => console.log(e));
                  }
            </code>
        </pre>
        <!-- Add more details as needed -->

       
 

        <!-- My Profile Endpoint -->
        <h3>My Profile</h3>
        <p>Retrieve the profile details of the authenticated owner.</p>
        <p>HTTP Method: GET</p>
        <p>URL: `owners/profile/`</p>
        <h3>example</h3>
        <pre>
            <code>
                function get_profile(token) {
                    set_loaded(false)
                    // not needed
                    const end_point = "https://www.baity.uk/owners/profile/";
                    fetch(end_point, {
                      method: "GET",
                      headers: {
                        Authorization: `token ${token}`,
                      },
                    })
                      .then((response) => response.json())
                      .then(handle_data)
                      .catch((e) => console.log(e));
                  }
            </code>
        </pre>
        <!-- Add more details as needed -->

</div>
</body>
</html>
