{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home/api-doc.css' %}"> <!-- Link your new CSS file -->
    <script defer src="{% static 'home/logic.js'%}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>baity</title>
</head>
<body >
    <nav class="nav">
        <img class="logo" src="{% static 'home/logo.png'%}" alt="website logo">
        <img class="menu" src="{% static 'home/menu.png'%}"/>
        
        <div class="buttons">
            <a class="button" href="">account</a>
            <a class="button" href="">contact</a>
            <a class="button" href="">houses api endpoint </a>
            <a class="button" href="">Documentation</a>
        </div>
    </nav>

    <!-- API Documentation Section for "owners" Model -->
    <section class="api-section">
        <h2>API Documentation for "owners" Model</h2>

        <!-- Create Owner Endpoint -->
        
        <h3>Create Owner</h3>
        <p>Create a new owner.</p>
        <p>HTTP Method: POST</p>
        <p>URL: `/create/`</p>
        <h3>example</h3>
        <pre>
            <code>
                const payload = new FormData();
                if (username) {
                  payload.append("username", username.toLowerCase());
                }
                if (email) {
                  payload.append("email", email.toLowerCase());
                }
                payload.append("phone", parseInt(phone));
                payload.append("password", password);
                const ep = "https://www.baity.uk/owners/create/";
                fetch(ep, {
                  method: "POST",
                  body: payload,
                })
                  .then((response) => {
                    status = response.status;
                    return response.json();
                  })
                  .then(handle_data);
            </code>
        </pre>
       
        <!-- Add more details as needed -->

        <!-- Update Username and Phone Endpoint -->
        <h3>Update Username and Phone</h3>
        <p>Update the username and phone number of an owner by ID.</p>
        <p>HTTP Method: PUT</p>
        <p>URL: `/update/up/{id}/`</p>
        <h3>example</h3>
        <pre>
            <code>
                function send_up_https_request(token) {
                    const payload = new FormData();
                    payload.append("username", username);
                    payload.append("phone", phone);
                    const up_ep = `https://www.baity.uk/owners/update/up/${id}/`;
                    fetch(up_ep, {
                      method: "PUT",
                      body: payload,
                      headers: {
                        Authorization: `token ${token}`,
                      },
                    })
                      .then((Response) => Response.json())
                      .then((data) => console.log("data update: ", data));}
            </code>
        </pre>
       
        <!-- Add more details as needed -->

        <!-- Update Email Endpoint -->
        <h3>Update Email</h3>
        <p>Update the email of an owner by ID.</p>
        <p>HTTP Method: PUT</p>
        <p>URL: `/update/email/{id}/`</p>
        <h3>example</h3>
        <pre>
            <code>
                const email_ep = `https://www.baity.uk/owners/update/email/${id}/`;
                const payload = new FormData();
                payload.append("email", new_email);
                fetch(email_ep, {
                  method: "PUT",
                  body: payload,
                  headers: { Authorization: `token ${user_token}` },
                })
                  .then((response) =>
                    console.log("status code of the email request:", response.status));
            </code>
        </pre>
        <!-- Add more details as needed -->

        <!-- Delete Owner Endpoint -->
        <h3>Delete Owner</h3>
        <p>Delete an owner by email.</p>
        <p>HTTP Method: DELETE</p>
        <p>URL: `/delete/{email}/`</p>
        <h3>example</h3>
        <pre>
            <code>
                function delete_me() {
                    fetch("https://www.baity.uk/owners/deleteme/", {
                      method: "GET",
                      headers: {
                        Authorization: `token ${user_token}`,
                      },
                    })
                      .then((response) => response.json())
                      .then((data) => console.log(data))
                      .catch((e) => console.log(e));
                  }
            </code>
        </pre>
        <!-- Add more details as needed -->

        <!-- Owner Details Endpoint -->
        <h3>Owner Details</h3>
        <p>Retrieve details of an owner by username.</p>
        <p>HTTP Method: GET</p>
        <p>URL: `/detail/{username}/`</p>
        <h3>example</h3>
        <pre>
            <code>
               
            </code>
        </pre>

        <!-- Add more details as needed -->

        <!-- Update Password Endpoint -->
        <h3>Update Password</h3>
        <p>Update the password of the authenticated owner.</p>
        <p>HTTP Method: PUT</p>
        <p>URL: `/update_password/`</p>
        <!-- Add more details as needed -->
        <pre>
            <code>
                fetch("https://www.baity.uk/owners/update_password/", {
                    method: "PUT",
                    body: payload,
                    headers: {
                      Authorization: `token ${token}`,
                    },
                  })
                    .then((response) => response.json())
                    .then((data) => {
                      console.log(data);
            </code>
        </pre>
        <!-- Delete Me Endpoint -->
        <h3>Delete My Account</h3>
        <p>Delete the authenticated owner's account.</p>
        <p>HTTP Method: POST</p>
        <p>URL: `/deleteme/`</p>
        <h3>example</h3>
        <pre>
            <code>
                function delete_me() {
                    fetch("https://www.baity.uk/owners/deleteme/", {
                      method: "GET",
                      headers: {
                        Authorization: `token ${user_token}`,
                      },
                    })
                      .then((response) => response.json())
                      .then((data) => console.log(data))
                      .catch((e) => console.log(e));
                  }
            </code>
        </pre>
        <!-- Add more details as needed -->

       
 

        <!-- My Profile Endpoint -->
        <h3>My Profile</h3>
        <p>Retrieve the profile details of the authenticated owner.</p>
        <p>HTTP Method: GET</p>
        <p>URL: `/profile/`</p>
        <h3>example</h3>
        <pre>
            <code>
                function get_profile(token) {
                    set_loaded(false)
                    // not needed
                    const end_point = "https://www.baity.uk/owners/profile/";
                    fetch(end_point, {
                      method: "GET",
                      headers: {
                        Authorization: `token ${token}`,
                      },
                    })
                      .then((response) => response.json())
                      .then(handle_data)
                      .catch((e) => console.log(e));
                  }
            </code>
        </pre>
        <!-- Add more details as needed -->



    </section>
</body>
</html>
