{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'static/homepage.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>baity</title>
</head>
<body>
    <div class="nav">
        <img class="logo" src="{% static 'background.JPEG'%}">

    </div>
</body>
</html>